.header {
    position: relative;
    padding-top: 5rem;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    &__logo-wrap {
        display: flex;
    }

    &__logo-img {
        width: 6.2rem;
        height: 2.8rem;
        margin-right: 0.8rem;

        img {
            height: 100%;
            object-fit: contain;
        }
    }

    &__logo-name {}

    &__logo-name-top {
        font-size: 2rem;
        font-weight: 600;
        color: #ffffff;
    }

    &__logo-name-down {
        font-size: 1.4rem;
        font-weight: 300;
        color: #ffffff;
    }

    &__menu {}

    &__menu-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__menu-item {

        font-size: 1.7rem;
        font-weight: 600;
        // color: #ffffff;
        position: relative;

        &:not(:nth-child(n+4)) {
            &:before {
                content: "";
                background-image: url(./../img/arrow-menu.svg);
                background-repeat: no-repeat;
                background-size: contain;
                width: 0.8rem;
                height: 0.4rem;

                position: absolute;
                right: -1.8rem;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        &:not(:last-child) {
            margin-right: 5.1rem;
        }

        &:hover {

            .header__menu-link {
                color: #FAAA3D;
            }

            .header__menu-sub-list {
                display: block;
            }

            &::before {
                background-image: url(./../img/arrow-top.svg);
            }
        }
    }

    &__menu-link {
        font-size: 1.7rem;
        font-weight: 600;
        color: #ffffff;
        padding-bottom: 2rem;
    }

    &__menu-sub-list {
        width: 29rem;
        background: #ffffff;
        box-shadow: 0px 20px 60px rgba(86, 86, 86, 0.1);
        border-radius: 0rem 4.5rem;
        padding: 3rem 2.8rem 3.5rem 3rem;
        display: flex;
        flex-direction: column;

        position: absolute;
        top: 4rem;
        left: 0;

        display: none;
    }

    &__menu-sub-item {
        font-size: 1.7rem;
        font-weight: 400;
        color: #292D32;


        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    &__contacts {
        display: flex;
    }

    &__tel-wrap {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    &__tel-top-wrap {
        display: flex;
        margin-right: 2.8rem;
    }

    &__tel-top-img {
        width: 1.83rem;
        height: 1.83rem;
        margin-right: 1.27rem;

        img {
            height: 100%;
            object-fit: contain;
        }
    }

    &__tel {
        font-size: 1.8rem;
        font-weight: 600;
        color: #ffffff;
        margin-bottom: 0.5rem;
    }

    &__tel-down {
        font-size: 1.5rem;
        font-weight: 400;
        color: #ffffff;
    }

    &__social-wrap {
        display: flex;
        align-items: center;
    }

    &__social-link {
        width: 2.5rem;
        height: 2.5rem;

        &:not(:last-child) {
            margin-right: 2.5rem;
        }

        img {
            height: 100%;
            object-fit: contain;
        }
    }

}




.banner {

    height: 75rem;

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
    }


    &__inner {
        padding-top: 16.7rem;
        padding-bottom: 2rem;
    }



    &__text-block {
        width: 67.4rem;
        height: 37.7rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    &__location-wrap {
        display: flex;
        margin-bottom: 0.6rem;
    }

    &__loc-img {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0.5rem;

        img {
            height: 100%;
            object-fit: contain;
        }
    }

    &__location-sity {
        font-size: 2rem;
        font-weight: 400;
        color: #ffffff;
    }

    &__title-wrap {
        font-size: 6rem;
        font-weight: 300;
        color: #ffffff;
        margin-bottom: 1.8rem;
    }

    &__title {
        margin-bottom: 1.8rem;
        span {
            font-weight: 700;
        }

    }

    &__subtitle {
        font-size: 2rem;
        font-weight: 400;
        color: #ffffff;
    }

    &__btn {

    }
}




.service {
    position: relative;
    padding-top: 29rem;
    padding-bottom: 18rem;

    &__about-block {
        width: 110rem;
        height: 40rem;
        background: #FFFFFF;
        border-radius: 0px 0px 0px 6rem;

        display: flex;

        position: absolute;
        top: -27.5rem;
        right: 0;
    }
    
    &__about-left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: 50%;

        padding: 6rem 2rem 6.5rem 7rem;
    }
    
    &__about-left-text {
        font-size: 1.7rem;
        font-weight: 600;
        color: #160B15;
        padding: 1rem;
    }
    
    &__about-left-title {
        font-size: 3rem;
        margin-bottom: 3rem;
    }
    
    &__about-left-item {
        position: relative;
        padding-left: 2rem;
        line-height: 1.5;

        &::before {
            content: "✔";

            width: 1.5rem;
            height: 1.5rem;

            position: absolute;
            left: -0.5rem;
            top: 50%;
            transform: translateY(-50%);

        }

    
    }
    
    &__about-right {
        display: flex;
        align-items: center;
        padding-left: 6rem;
        width: 50%;
        

        position: relative;
    
    }
    
    &__about-right-substr {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    
    &__about-right-title {
        font-size: 2.7rem;
        font-weight: 600;
        color: #160B15;
        line-height: 1.6;

        position: relative;
        z-index: 1;

        width: 30rem;
    }

    
    &__top-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 6rem;
    
    }
    
    &__title-wrap {
        width: 50%;
        
    }
    
    &__title {
       margin-bottom: 1.2rem;
    }
    
    &__subtitle {
    
    }
    
    &__top-btn {
    
    }
    
    &__content {
        display: flex;
        justify-content: space-between;
    }
    
    &__block {
        width: 70rem;
        height: 44.1rem;
        border-radius: 0 6rem 0 6rem;

        display: flex;
        align-items: flex-end;

        position: relative;
    
    }
    
    &__block-img {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 0 6rem 0 0;
        height: 35rem;

        img {
            height: 100%;
            object-fit: cover;
        }
    }
    
    &__block-text {
        width: 61rem;
        height: 18.1rem;
        background-color: #ffffff;
        border-radius: 0px 4.5rem;
        padding: 4.5rem 6.4rem 2.8rem 4rem;

        position: relative;
        z-index: 1;
    
    }
    
    &__block-icon {
        position: absolute;
        width: 5rem;
        height: 5rem;
        background-color: #ffffff;
        border-radius: 50%;


        display: flex;
        align-items: center;
        justify-content: center;
        top: -2rem;
        left: 4rem;

        img {
            width: 2.4rem;
            height: 2.4rem;
        }

        
    
    }
    
    &__block-arrow {
        position: absolute;
        width: 2rem;
        height: 1.5rem;
        right: 4rem;
        top: 2.6rem;

        img {
            height: 100%;
            object-fit: cover;
        }
    
    }
    
    &__title {
        font-size: 2rem;
        font-weight: 600;
        color: rgba(22, 11, 21, 1);
        margin-bottom: 1.8rem;
    }
    
    &__subtitle {
        font-size: 1.6rem;
        font-weight: 300;
        color: rgba(22, 11, 21, 1);
    }
}



.work {
    background: #ffffff;
    padding-top: 18rem;
    padding-bottom: 18rem;
    margin-bottom: 16.1rem;

    &__inner {

    }
    
   
    &__top-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 6rem;
    }
    
    &__title-wrap {
        width: 50%;
    }
    
    
    &__title {
        margin-bottom: 1.2rem;
    }
    
    
    &__subtitle {
    
    }
    
    
    &__top-btn {
    
    }
    
    
    &__content {
        display: flex;
    }
    
    &__box {
        width: 37rem;
        height: 32rem;
        border: 1px solid #E0E0E0;
        padding: 4.5rem;

        &:first-child {
            border-radius: 6rem 0 0 0;
        }
        
        &:last-child {
            border-radius: 0 0 6rem 0;
        }
    }
    
    &__box-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 3.9rem;
    
    }
    
    &__box-img {
        width: 7rem;
        height: 7rem;

        img {
            height: 100%;
            object-fit: contain;
        }
    
    }
    
    &__box-num {
        font-size: 1.8rem;
        font-weight: 500;
        color: rgba(119, 119, 119, 1);
    
    }
    
    &__box-title {
        font-size: 2.5rem;
        font-weight: 500;
        color: rgba(22, 11, 21, 1);
        margin-bottom: 1.5rem;
    
    }
    
    &__box-subtitle {
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 1.268;
    }

}




.choose {
    margin-bottom: 16rem;

    &__inner {

    }
    
    &__top-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 6rem;
    }
    
    &__title-wrap {
        width: 50%;
    }
    
    
    &__title {
        margin-bottom: 1.2rem;
    }
    
    &__subtitle {
    
    }
    
    &__top-btn {
    
    }
    
    &__content {
        display: flex;
        flex-wrap: wrap;
    }
    
    &__box {
        width: 45rem;
        height: 32.4rem;
        border-radius: 0 6rem 0 6rem;

        display: flex;
        align-items: flex-end;

        position: relative;

        &:not(:nth-child(n+7)) {
            margin-bottom: 5.2rem;
        }

        &:not(:nth-child(3n)) {
            margin-right: 6.4rem;
        }
    }
    
    &__box-bg {
        position: absolute;
        top: 0;
        left: 0;
        height: 24rem;
        border-radius: 6rem 0rem 0 0rem;
    }
    
    &__box-num-wrap {
        width: 4.4rem;
        height: 8.5rem;
        background-color: #ffffff;
        border-radius: 1.5rem;
        padding: 2.1rem 1.2rem;

        position: absolute;
        right: -2.2rem;
        top: 50%;
        transform: translateY(-50%);
    
    }
    
    &__box-num-symbol {
        font-size: 1.2rem;
        font-weight: 400;
        color: rgba(119, 119, 119, 1);
        text-align: center;
        margin-bottom: 0.8rem;
    }
    
    &__box-num-num {
        font-size: 1.6rem;
        font-weight: 700;
        color: rgba(41, 45, 50, 1);
    }
    
    &__box-bottom {
        height: 12.4rem;
        position: relative;
        padding: 2rem 3rem;
        z-index: 2;
    
    }
    
    &__box-text-substrate {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    &__box-bottom-text {
        position: relative;
        z-index: 2;
    }
    
    &__box-title {
        font-size: 1.9rem;
        font-weight: 600;
        color: rgba(41, 45, 50, 1);
        margin-bottom: 1.7rem;
        padding-right: 1.5rem;
        width: 70%;
    }
    
    &__box-subtitle-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
    
    }
    
    &__box-subtitle {
        font-size: 1.5rem;
        font-weight: 300;
        color: rgba(41, 45, 50, 1);
        width: 80%;
        padding-right: 1.5rem;
    }
    
    &__box-text-img {
        width: 2.7rem;
        height: 2.7rem;

        img {
            height: 100%;
            object-fit: contain;
        }
    }
}




.reviews {
    margin-bottom: 18.7rem;

    
    &__inner {
    
    }
    
    &__top-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 6rem;
    }
    
    &__title-wrap {
        width: 50%;
    }
    
    
    &__title {
        margin-bottom: 1.2rem;
    }
   
    
    &__subtitle {
    
    }
    
    
    &__control-wrap {
    
    }
    
    &__control-top {
    display: flex;
    }
    
    &__control-fraction {
    
    }
   
    
    &__control-arrows {
   
   
    }
    
    
    &__control-arrow-prew {
      
    }
    
    &__control-arrow-next {
     
    }
    
    &__control-pagination {
    
    }
    
    &__content {
    // display: flex;
    overflow: hidden;
    }
  
    
    &__content-wrapper {
        // display: flex;
    
    }
   
    
    &__slide {
        // width: 45.9rem;
        height: 43.9rem;

        position: relative;

        // &:not(:last-child) {
        //     margin-right: 7.1rem;
        // }
    }
   
    
    &__slide-substrate {
        width: 34rem;
        height: 35rem;
        background: rgba(255, 255, 255, 1);
        border-radius: 6rem 0 4.5rem;
        padding-top: 30rem;

        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    
    &__slide-inner {
    
    }
    
    &__slide-mail-img {
        width: 45.9rem;
        height: 30rem;

        // background: linear-gradient(296.63deg, rgba(56, 56, 56, 0.3) 27.21%, rgba(0, 0, 0, 0) 73.32%);
        // filter: blur(14px);
        // transform: matrix(-1, 0, 0, 1, 0, 0);

        // position: absolute;
        // top: 0;
        // left: 0;
        position: relative;
    
    }
    
    &__slide-text-wrap {
        width: 32rem;
        padding-right: 1.5rem;
        padding-bottom: 2.1rem;
        height: 13.9rem;

        display: flex;
        align-items: center;
        position: relative;

    }
    
    &__slide-more {
        width: 5rem;
        height: 5rem;
        background: #ffffff;
        box-shadow: -1rem 1rem 6rem rgba(22, 11, 21, 0.1);
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 1.5rem;
            height: 1.5rem;
        }

        position: absolute;
        right: 3.8rem;
        bottom: 5rem;
    }
    
    &__slide-name-company {
        font-size: 2.8rem;
        font-weight: 600;
        color: rgba(22, 11, 21, 1);
    }
}





.partners {
    padding: 16rem 0 18rem 0;
    background-color: #ffffff;

    
    &__inner {
    
    }
    
    &__top-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 6rem;
    }
    
    &__title-wrap {
        width: 50%;
    }
    
    
    &__title {
        margin-bottom: 1.2rem;
    }
    
    
    // &__subtitle {
    
    // }
  
    // &__control-wrap {
    
    // }
   
    
    // &__control-top {
    
    // }
   
    // &__control-fraction {
    
    // }
   
    
    // &__control-arrows {
    
    // }
   
    
    // &__control-arrow-prew {
    
    // }
   
    
    // &__control-arrow-next {
    
    // }
   
    
    // &__control-scrollbar {
    
    // }
   
    
    &__content {
        width: 100%;
        border-radius: 6rem 0rem 6rem 0rem;
        border: 1px solid #E0E0E0;
        overflow: hidden;
    }
   
    
    &__content-wrapper {
    }
   
    
    &__slide {
        border-left: 1px solid #E0E0E0;
        display: flex;
        flex-direction: column;
        padding: 2.5rem;
        height: 30rem;
    }
  
    
    &__slide-img {
    
    }
    
    &__slide-title {
    
    }
    

}


