
.banner {

    &.page-support-m {
        .banner {

            &__inner {
                padding-top: 11.3rem;
                position: relative;
                height: 100%;
            }

            &__text-block {
                width: 98rem;
                height: 32.5rem;
            }

            &__title {
                margin-bottom: 2.3rem;
            }

            &__subtitle {
                width: 70rem;
            }
        }


    }
    
    &__advantage {
        display: flex;
        justify-content: space-between;
        width: 150rem;

        background: #FFFFFF;
        border-radius: 0rem 6rem;
        padding: 4.52rem 3rem 5.3rem 3rem;

        position: absolute;
        left: 0;
        bottom: -35rem;

    
    }
    
    &__advantage-box {
        width: 31rem;
        display: flex;
        flex-direction: column;
        // align-items: center;
        padding: 0 2rem;

        position: relative;

        &:not(:last-child) {
            &::after {
                content: "";
                width: 0.1rem;
                height: 17rem;
                background: rgba(224, 224, 224, 1);

                position: absolute;

                top: 0;
                right: -4rem;
            }
        }
    }
    
    &__advantage-img {
        width: 4.5rem;
        height: 4.5rem;
        margin-bottom: 2.5rem;
        align-self: center;

        img {
            height: 100%;
            object-fit: contain;
        }
    
    }
    
    &__advantage-title {
        font-size: 2.5rem;
        font-weight: 500;
        color: rgba(22, 11, 21, 1);
        margin-bottom: 1.9rem;
        align-self: center;

    
    }
    
    &__advantage-subtitle {
        font-size: 1.6rem;
        font-weight: 300;
        color: rgba(22, 11, 21, 1);
        text-align: center;
    }
}



.problems {

    margin-bottom: 18rem;

    &__inner {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    
    &__text-block {
        width: 78rem;
        padding-top: 7.4rem;


    
    }
    
    &__title {
        font-size: 4rem;
        font-weight: 700;
        color:#292D32;
        line-height: 1.268;
        margin-bottom: 2.8rem;
    }
    
    &__list {
        font-size: 2rem;
        font-weight: 300;
        color: #160B15;
        line-height: 1.268;
        width: 71rem;

        padding-left: 10.5rem;
        margin-bottom: 3.5rem;
        list-style: none;
        
        counter-reset: num;
    
    
    }
    
    &__item {
        counter-increment: num;
        position: relative;

        &:not(:last-child) {
            margin-bottom: 1.5rem;
        }

        &::before {
            content: counter(num) "";
            color: rgba(119, 119, 119, 1);
            position: absolute;
            left: -3.3rem;
            top: 0;
            text-align: right;
            font-size: 1.8rem;
            font-weight: 600;
        }

        &:nth-child(-n+9) {
            &::before {
                content: "0" counter(num) "";
            }
        }

        &:last-child {
            &::before {
                content: "";
                font-size: 0;
            }
        }
       
        
    }
    
    &__par {
        font-size: 1.8rem;
        font-weight: 300;
        color: #160B15;
        padding-left: 7.3rem;
        width: 75rem;
    }
    
    &__photo-block {
        width: 71.4rem;
        position: relative;
    }
    
    &__bg {
        width: 63.4rem;
        height: 69.0rem;
        border-radius: 0 6rem 0 6rem;
        margin-left: auto;
    }
    
    &__photo-block-content {
        width: 33.9rem;
        background: #FFFFFF;
        box-shadow: -1rem 1rem 10rem rgba(22, 11, 21, 0.1);
        border-radius: 4.5rem 0rem;
        padding: 3.8rem 3.4rem 3.4rem 4rem;
        position: absolute;
        left: 0;
        bottom: 8.5rem;
    }
    
    &__photo-block-title {
        font-size: 2.5rem;
        font-weight: 600;
        color: #160B15;
        margin-bottom: 2.6rem;
    }
    
    &__photo-block-subtitle-wrap {
        display: flex;
        align-items: center;
    }
    
    &__photo-block-subtitle {
        font-size: 1.8rem;
        font-weight: 400;
        color: #160B15;
        margin-right: 1.3rem;
    }
    
    &__photo-block-subtitle-img {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        background-color: #212129;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 2.5rem;
            height: 2.5rem;
            object-fit: contain;
        }
    }
}



.feedback {
    &.page-support-m {
        margin-bottom: 19.5rem;

        &::before {
            width: 163.4rem;
            height: 59.7rem;
        }

        .feedback {
            &__inner {
                padding-top: 16rem;
            }

            &__substrate {
                width: 65.4rem;
                height: 72rem;
                -o-object-fit: contain;
                object-fit: contain;
                position: absolute;
                top: -6rem;
                left: 11rem;
            }

            &__form {
                width: 94rem;
            }

            &__input {
                width: 21rem;
            }

            &__select {
                width: 37.4rem;
            }

            &__information {
                margin-bottom: 2.5rem;
            }
        }
    }
}



.complex {

    margin-bottom: 20rem;


&__title-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 8.3rem;

}

&__title {

}


&__btn {

}


&__content {
    display: flex;
    justify-content: space-between;
}

&__content-img {
    border-radius: 0px 6rem;
    width: 45rem;

    img  {
        border-radius: inherit;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}

&__text-block {
    display: flex;
    flex-wrap: wrap;
    width: 98rem;

}

&__item {
    width: 46rem;
    padding: 1rem;

    &:not(:nth-child(2n)) {
        margin-right: 6rem;
    }

    &:not(:nth-child(n + 2)) {
        margin-bottom: 6rem;
    }


}

&__item-title-wrap {
    display: flex;
    align-items: start;
    margin-bottom: 1rem;

}

&__item-num {
    font-size: 2.5rem;
    font-weight: 600;
    color: rgba(41, 45, 50, 1);
    margin-right: 1.5rem;

    position: relative;

    &::before {
        content: "";
        width: 1rem;
        height: 0.3rem;
        background-color: rgba(41, 45, 50, 1);

        position: absolute;
        top: 50%;
        left: -2rem;

        transform: translateX(-50%);
    }
}

&__item-title {
    font-size: 2rem;
    font-weight: 500;
    color: rgba(41, 45, 50, 1);
}

&__item-subtitle {
    font-size: 1.6rem;
    font-weight: 300;
    color: rgba(41, 45, 50, 1);
}
}



.security {

    margin-bottom: 20rem;

    
    &__title-wrap {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 6rem;
        line-height: 1.268;
    }
    
    &__title {
    width: 45%;
    }

    
    &__subtitle {
        width: 47.5%;
        font-size: 2rem;
        font-weight: 400;
        color: rgba(119, 119, 119, 1);

    
    }

    
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: start;
    }
    
    &__item {
        width: 34.5rem;
        background: #FFFFFF;
        border-top: 0.5rem solid rgba(33, 33, 41, 1);

        box-shadow: 1.5rem 3rem 10rem rgba(22, 11, 21, 0.08);
        border-radius: 0px 0px 4.5rem 0px;
        padding: 3.5rem 3rem 3.5rem 3rem;
    }
    
    &__item-img {
        width: 4.1rem;
        height: 4.1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2.7rem;

        img {
            height: 100%;
            object-fit: contain;
        }
    
    }
    
    &__item-title {
        font-size: 2.5rem;
        font-weight: 500;
        color: rgba(22, 11, 21, 1);
        margin-bottom: 1.2rem;

    
    }
    
    &__item-subtitle {
        font-size: 1.6rem;
        font-weight: 300;
        color: rgba(22, 11, 21, 1);
        line-height: 1.268;
    }

}




.payment {

    
    &__title-wrap {
        display: flex;
        justify-content: space-between;
        align-items: end;
        margin-bottom: 6.3rem;
    
    }
    
    &__title {
        width: 47%;
    
    }
    
    
    &__title-right {
        width: 45%;
    
    }
    
    &__warning {
        font-size: 2rem;
        font-weight: 600;
        color: #292D32;
    
    }
    
    &__subtitle {
        font-size: 1.8rem;
        font-weight: 400;
        color: #292D32;
    }
    
    &__content {
        
    }
    
    &__main {
        display: flex;

    
    }
    
    &__list-wrap {
        width: 50%;
    
    }
    
    &__list-title {
        font-size: 2.5rem;
        font-weight: 700;
        color: #292D32;
        margin-bottom: 3rem;

    
    }
    
    &__list {
        background: #FFFFFF;
        padding: 4.5rem 3.6rem 5.5rem 4.5rem;
    
    }
    
    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        &:not(:last-child) {
            margin-bottom: 3.5rem;
        }
    
    }
    
    &__item-title-wrap {
        display: flex;
        align-items: center;
        width: 74.5%;
    
    }
    
    &__item-title-img {
        width: 3rem;
        height: 3rem;
        margin-right: 2rem;

        img {
            height: 100%;
            object-fit: contain;
        }
    }
    
    &__item-title-title {
        font-size: 2rem;
        font-weight: 500;
        color: #292D32;
    }
    
    &__counter {
        width: 15rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 0.1rem solid #D6D6D6;
        border-radius: 5rem;
        padding: 0 2rem;
        margin-left: 2rem;
    }
    
    &__counter-btn {
        color: #777777;
    }
    
    &__cuunter-value {
        width: 7rem;
        text-align: center;
        font-size: 2rem;
        font-weight: 500;
        color: #292D32;
    }

    &__switch {
        cursor: pointer;
        margin-right: auto;
    }
    
    &__switch-row {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        width: 7.2rem;
        padding: 1px;
        background: #ffffff;
        border-radius: 6rem;
        border: 1px solid  #D6D6D6;;
        margin-left: 2rem;
    }
    
    .payment__switch input:checked + .payment__switch-row .payment__switch-icon {
        transform: translateX(3.5rem);
        background-color: #06A4D9;
    }

    &__switch-icon {
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 50%;
        background-color:  #D6D6D6;;
        position: relative;
        transition-property: transform, background-color;
        transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        transition-duration: 200ms;
    }


    
    &__select-block {
        width: 50%;
    
    }
    
    &__select-block-heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 3rem;
    
    }
    
    &__select-block-title {
        font-size: 2.5rem;
        font-weight: 700;
        color: #292D32;
    
    }
    
    &__select-block-subtitle {
        font-size: 1.6rem;
        font-weight: 300;
        color: #777777;
    
    }
    
    &__select-wrap {
       

    
    }
    
    &__select-item {
        width: 68.3rem;
        height: 14rem;
        padding: 1rem 3rem;
        border: 1px solid #CCCCCC;
        background: #ffffff;

        &:not(:last-child) {
            margin-bottom: 2rem;
        }

        &.chose {
            background-color: #06A4D9;
            color: #ffffff;

            .payment__checkbox-label {
                color: #ffffff;
            }

            .payment__checkbox-input {
                &.checked + .payment__checkbox-style::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 2.5rem;
                    height: 2.5rem;
                    border: 0.25rem solid #FFFFFF;
                    background-image: url(./../img/check2.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 1.55rem;
                    background-color: #06A4D9;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
    
    &__checkbox-label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        padding-left: 6rem;
        cursor: pointer;

        font-size: 2.5rem;
        font-weight: 400;
        color: #292D32;

        
    }
    

    &__checkbox-input {
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0 0 0 0);

        &:checked + .payment__checkbox-style::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 2.5rem;
            height: 2.5rem;
            border: 0.25rem solid #FFFFFF;
            background-image: url(./../img/check2.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 1.55rem;
            background-color: #06A4D9;
            transform: translate(-50%, -50%);
        }
    }

    &__checkbox-style {
        position: absolute;
        width: 2.5rem;
        height: 2.5rem;
        background: #FFFFFF;
        border: 0.25rem solid #292D32;
        margin-left: -6rem;
    }

    &__checkbox-input {
    
    }
    
    &__checkbox-style {
    
    }
    
    &__select-title {
    
    }
    
    &__select-value {

        span {
            font-size: 3.5rem;
            font-weight: 700;
        }
    
    }
    
    &__bottom {
    
    }


}

